{% extends 'retailer/dashboard.html' %}

{% block title %} Retailer Meters {% endblock title %}

{% block pagename %} Retailer Meters {% endblock pagename %}


{% block meters %}
    <!-- Nav Item - Meters -->
    <li class="nav-item active">
      <a class="nav-link" href="meters.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Meters</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
{% endblock meters %}

{% block content %}
{% endblock content %}
