{% extends 'common/base.html' %}

{% block content %}
    <h1> Meters </h1>
    {{ context }}
    {{ meters.count }} of {{ count }}<br>
    Active: {{ actives }}<br>
    Deactivated: {{ deactivated }}<br>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        {{ errors }}
        <button type="submit"> search </button>
    </form>
<ul>
{% for meter in meters %}
    <li>UUID: {{ meter.uuid }}</li>
    <li>Label: {{ meter.label }}</li>
    <li>User: {{ meter.user }}</li>
    <li>Site: {{ meter.site }}</li>
    <li>Is Active: {{ meter.is_active }}</li>
    <li><a href="{{ meter.get_absolute_query_url }}">self</a></li>
    <li><a href="{{ meter.get_absolute_query_url }}">edit</a></li>
    <li><a href="{{ meter.get_absolute_query_url }}">deactivate</a></li>
{% endfor %}
</ul>

{% endblock %}