{% extends 'retailer/dashboard.html' %}

{% block title %} Retailer Sites {% endblock title %}

{% block pagename %} Retailer Sites {% endblock pagename %}


{% block sites %}
    <!-- Nav Item - Sites -->
    <li class="nav-item active ">
      <a class="nav-link" href="meters.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Sites</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
{% endblock sites %}


{% block page_brief %}
    Use form for search your installation sites
    <a class="btn btn-sm btn-primary" href="{{ site.get_absolute_query_url }}">Edit Retailer Profile</a>
{% endblock page_brief %}


{% block form_input %}
    {{ form.field }}
    {{ form.query }}
{% endblock form_input %}


{% block content %}
    <br><br>
    <h4>Search results</h4>
  {% for site in sites %}
      Name: {{ site.name }} ||
      Capacity: {{ site.capacity }} ||
      Voltage rating: {{ site.voltage }} ||
      Frequency rating: {{ site.frequency }} ||
      <a class="btn btn-sm btn-primary" href="{{ site.get_absolute_query_url }}">url</a>
      <br>
  {% endfor %}
{% endblock content %}